<form novalidate autocomplete="off" #form="ngForm" (submit)="onSubmit(form)">
    <input type="hidden" name="numDriverID" [value]="service.formData.numDriverID" />
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Name<sup class="text-danger">*</sup></label>
            <input class="form-control" placeholder="Name..." name="varDriverName"
                #varDriverName="ngModel" [(ngModel)]="service.formData.varDriverName"
                required [class.invalid]="varDriverName.invalid &#038;&#038; varDriverName.touched">
        </div>
        <div class="form-group col-md-6">
            <label>Address<sup class="text-danger">*</sup></label>
            <input class="form-control" placeholder="Address..." name="varDriverAddress"
            #varDriverAddress="ngModel" [(ngModel)]="service.formData.varDriverAddress"
            required [class.invalid]="varDriverAddress.invalid &#038;&#038; varDriverAddress.touched">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>NIC<sup class="text-danger">*</sup></label>
            <input class="form-control" placeholder="NIC..." name="varDriverNIC"
                #varDriverNIC="ngModel" [(ngModel)]="service.formData.varDriverNIC"
                required [class.invalid]="varDriverNIC.invalid &#038;&#038; varDriverNIC.touched">
        </div>
        <div class="form-group col-md-6">
            <label>Contact No<sup class="text-danger">*</sup></label>
            <input class="form-control" placeholder="No..." name="varDriverContactNo"
            #varDriverContactNo="ngModel" [(ngModel)]="service.formData.varDriverContactNo"
            required [class.invalid]="varDriverContactNo.invalid &#038;&#038; varDriverContactNo.touched">
        </div>
    </div>
    <div class="form-group">
        <button class="btn btn-primary" type="submit" [disabled]="form.invalid">SUBMIT</button>
    </div>
</form>